<mat-toolbar color="primary">
  <div class="toolbar">
    <h2>Задачи</h2>
    <button
      (click)="formStatus = !formStatus"
      color="white"
      mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-form [(projectList)]="projectsList" [(status)]="formStatus"></app-form>

<div class="container">
  <div class="project-list">
    <mat-card *ngFor="let project of projectsList" class="project">
      <div class="project__header">
        <span>{{ project.title }}</span>
      </div>

      <mat-divider></mat-divider>

      <div class="todo-list">
        <div
          *ngFor="let todo of project.todos; trackBy: identifyTodo"
          class="todo"
        >
          <mat-checkbox
            (click)="onCompleteTodo(project, todo)"
            [checked]="todo.isCompleted"
            [ngClass]="todo.isCompleted ? 'todo__text--crossed' : 'todo__text'"
            class="todo__checkbox"
          >
            {{ todo.text }}
          </mat-checkbox>
        </div>
      </div>
    </mat-card>
  </div>
</div>
